<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="addMinuteTimeCheckout" value="0"/>
    <add key="isUseDupKey" value="true"/>
    <add key="isMapRoomName" value="false"/>
    <add key="isMapRoomNo" value="true"/>
    <add key="SqlOldVersion" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Port" value="1"/>
    <add key="SystemCode" value="B6BBC182"/>
    <add key="HotelCode" value="1F584C78"/>
    <add key="isDBACCESS" value="true"/>
    <add key="ModeSetupKey" value="true"/>
    <add key="roomCodeFile" value="RoomCode.json"/>
    <!-- Connecting Setting-->
    <add key="ReaderModel" value="4"/>
    <!--You can check by from BTLock v5.7, accect: Menu -> Setting -> Reader Setting
        1 - RW-21
        2 - RW-26B
        3 - RW-33
        4 - RW-41
        -->
    <add key="Portcom" value="1"/>
    <!--You can check by from BTLock v5.7, accect: Menu -> Setting -> Reader Setting
    1 - Com 1
    2 - Com 2
    3 - com 3
    -->
    <add key="PowerSitchModel" value="1"/>
    <!--
    0 - 8601-1M-57BA
    1 - 8601-6M-57BA
    -->
    <add key="UseLiftFloor" value="4"/>
    <add key="MaxAddr" value="97"/>
    <add key="BeginAddr" value="96"/>
    <add key="EndAddr" value="97"/>
    <add key="SectorNo" value="0"/>
    <add key="PowerSwitchSectorId" value="FFFFFFFFFFFF"/>
    <add key="PowerSwitchSectorNo" value="15"/>
    <add key="isActivedLift" value="false"/>
	  <add key="isMapLiftNo" value="true"/>
    <add key="isActivedSwitch" value="false"/>
    <add key="AddLiftMinisActivedLiftute" value="30"/>
    <add key="AddSwitchMinute" value="50"/>
  </appSettings>
  <userSettings>
    <DWord.Properties.Settings>
      <setting name="InitSuccess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value/>
      </setting>
      <setting name="COMPort" serializeAs="String">
        <value/>
      </setting>
      <setting name="AdelSystem" serializeAs="String">
        <value/>
      </setting>
      <setting name="Software" serializeAs="String">
        <value/>
      </setting>
      <setting name="TMEncoder" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
		  <value> </value>
      </setting>
      <setting name="LockFolder" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SystemCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="LockSystem" serializeAs="String">
        <value>BTLock</value>
      </setting>
      <setting name="HotelCode" serializeAs="String">
        <value/>
      </setting>
    </DWord.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
